*.apk
*.ap_
*.class
*.log
runtime-src/proj.android/bin/
runtime-src/proj.android/gen/
runtime-src/proj.android/obj/
runtime-src/proj.android/out/
*.slo
*.lo
*.o
*.o.d
*.obj
*.gcc
*.pch
xcuserdata/
runtime-src/proj.ios_mac/build
.DS_Store
*.Dir